<%- include('../partials/_header.ejs') %>

<div class="container">
    <h2><%- span %> Your Products</h2>
    <%- include('../partials/_addproductform.ejs') %>

  </div>
<!-- end of form  -->

<%- include('../partials/_footer.ejs') %>


<!-- video 5 --- 16:56 -->