<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Objects</h2>

<p id="demo"></p>

<script>
// Create an object:
const person = [{firstName:"John", lastName:"Doe", age:50, eyeColor:"blue"}, {firstName:"rohit", lastName:"ss", age:30, eyeColor:"blue"}];

// Display some data from the object:
document.getElementById("demo").innerHTML =
person[0].firstName + " is " + person[0].age + " years old." + typeof(person);
</script>

</body>
</html>

// output 

// JavaScript Objects
// John is 50 years old.object