<%- include('../partials/_header.ejs') %>

    <div class="checkout-container container">
        <div class="checkout-box">
            <div class="check-head">
                <h1>Your Order Has been Cancelled!</h1>
            </div>
            <div class="check-logo">
                <img src="/images/cancel.png" alt="">
            </div>
            <div class="check-message">
                <h3>Sorry Your purchase has been Cancelled !</h3>
            </div>
            <div class="check-Id">
                <p>Your order is not confirmed due to Invalid card details !</p>
            </div>
            <div class="check-para">
            <span >you will receive order cancellation email with details of your order</span>
            </div>
            <div class="check-Button">
                <a href="/">CONTINUE SHOPPING</a>
            </div>
        </div>
    </div>
    <script src="../js/cart.js"></script>
<%- include('../partials/_footer.ejs') %>
