<%- include('../partials/_header.ejs') %>

 <div class="moreinfo">
    <p>
        In This Website I Have Used <b>Mongoose</b> as Database, no-contact delivery, Specialist help and
        <a href="#"> more > </a>
    </p>
</div>
<div class="section-container">
    <div class="content">
        <div class="iphone12desc"><img src="/images/section-container/content.jpg" alt="" /></div>

        <div class="iphone12-links">
            <a href="/iPhone12">Learn more ></a> <a href="/iPhone12">Buy ></a>
        </div>

        <div class="iphone12img"><img src="images/section-container/iphone12ss.jpg" alt="" /></div>
    </div>
    <div class="content2">
        <div class="prodesc"><img src="/images/section-container/content2.jpg" alt="" /></div>

        <div class="iphone12-links">
            <a href="#">Learn more ></a> <a href="#">Buy ></a>
        </div>

        <div class="proimg"><img src="/images/section-container/iphone12pro.jpg" alt="" /></div>
    </div>
</div>

        <!-- include index product  -->
        <%- include('../partials/_indexproduct.ejs') %>



 <!-- include footer  -->
<%- include('../partials/_footer.ejs') %>