<%- include('../partials/_header.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<section class="section">
    <div></div>
    <div class="container">
        <div>
            <div><span>Apple ID</span></div>
            <div></div>
            <div>
                <span><a href="/login">Sign In</a></span>
                <span><a href="/signup">Create Your Apple ID</a></span>
                <span>FAQ</span>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <div>
                <img src="/images/login/applelogo.png" alt="" srcset=""  width="756px" height="756px" >
            </div>
            <div class="formfield">
                <div>
                    <h3>Reset Apple Password</h3>
                    <p>Please Enter Your Registered Email ID</p>
                </div>
                <div class="inputfield">
                   <form action="/reset" method="POST">
                    
                    <div>
                        <input type="text" class="error-email" name="email" id="" placeholder="Enter your Email ID" style="    border-radius: 10px !important;">
                        <button type="submit">
                            <i class="fa-regular fa-circle-right" style="color: #a1a1a1;"></i>
                        </button>
                    </div>
                    <% if(errorMessage.length > 0){%>
                        <div class="user-Message user-Message-error">
                            <p><%= errorMessage %>
                            </p>
                        </div>
                        <% } %>
                  </form>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div></div>

</section>

<script src="js/login.js" defer></script>
<script src="js/navbar.js" defer></script>

</body>
</html>